
<div style="font-size: 20px;font-family:vazir">
     <b><h1 style="line-height:200%;font-family:vazir;color:#0099cc" dir="rtl" >پروژه اول </h1></b>
        <br>
     <div style="font-size: 18px; font-family:vazir" dir="rtl">برنامه زیر توسط سام احمدی زاده و مهرانا خالقی به منظور پروژه پایان ترم نوشته شده است</div>
        <br>
    <h1 style="font-size: 20" dir="rtl">بخش اول :     </h1>
</div>

In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [110]:
users = []
class User():
    def __init__(self , n , fn , i , birth, balance):
        self.name = n
        self.familyName = fn
        self.id = i
        self.birthday = birth
        self.balance = balance
        self.history = []
        self.stock_list = {'AMZN' : 0, 'FB' : 0, 'TSLA' : 0 , 'GOOGL' : 0, 'AAPL' : 0}
    def show_history(self):
        return pd.DataFrame(users[0].history)

<div style="font-family:vazir">
    <h1 style="font-size: 10;color:#009955" dir="rtl"> ایجاد کاربر جدید    </h1>    
    <br>
     <div style="font-size: 18px; font-family:vazir" dir="rtl">برای ایجاد کاربر جدید مشخصات خود را در کد زیر نوشته و آن را ران کنید</div>
    <div style="font-size: 18px; font-family:vazir" dir="ltr">Valid input format: (name , Family name , id , birth , init_balance)</div>
        <br>
    
</div>

In [111]:
users.append(User('sam' , 'asfjkhsdhjkf' , '04412121212' , '2004-5-10' , 200000))
users

<h1 style="font-size: 25;font-family:vazir" dir="rtl">بخش دوم :     </h1>

In [112]:
stock_market_data = pd.read_csv('stock_market_data.csv') #reading the init data of stocks
stock_market_data.head(10) 
stock_market_data.tail(10)

             Date Symbol        Open       Volume
15585  2022-05-02   AAPL  156.710007  123055300.0
15586  2022-05-03   AAPL  158.149994   88966500.0
15587  2022-05-04   AAPL  159.669998  108256500.0
15588  2022-05-05   AAPL  163.850006  130525300.0
15589  2022-05-06   AAPL  156.009995  116055700.0
15590  2022-05-09   AAPL  154.929993  131577900.0
15591  2022-05-10   AAPL  155.520004  115366700.0
15592  2022-05-11   AAPL  153.500000  142689800.0
15593  2022-05-12   AAPL  142.770004  182602000.0
15594  2022-05-13   AAPL  144.589996  113787000.0


<div style="font-size: 18px;font-family:vazir">
     <b><h1 style="line-height:200%;font-family:vazir;color:#000000" dir="rtl" >خرید سهم :  </h1></b>
</div>

In [119]:
def buy_stock(user , stock , date , vol):
    if stock in pd.unique(stock_market_data['Symbol']):
        stock_price = stock_market_data[stock_market_data['Symbol'] == stock]
        stock_price = stock_price[stock_market_data['Date'] == date]['Open'].values[0]
        if user.balance >= stock_price * vol:
            user.balance -= stock_price * vol
            user.history.append({'date' : date , 'Symbol' : stock , 'volume' : vol , 'price per vol' : stock_price , 'action' : 'buy' })
            user.stock_list[stock] +=  vol
            print(stock , 'bought with' , stock_price , 'and ' , vol , 'vol')
        else:
            print('not enough balance ! ! !')
    else:
        print('This Symbol does not exists ! ! !')
buy_stock(users[0] , 'AMZN' , '2009-12-31' , 5 )
print(users[0].history)
users[0].stock_list

AMZN bought with 136.25 and  5 vol
[{'date': '2009-12-31', 'Symbol': 'FB', 'volume': 5, 'price per vol': 42.04999923706055, 'action': 'buy'}, {'date': '2009-12-31', 'Symbol': 'FB', 'volume': 5, 'price per vol': 42.04999923706055, 'action': 'buy'}, {'date': '2009-12-31', 'Symbol': 'FB', 'volume': 5, 'price per vol': 42.04999923706055, 'action': 'buy'}, {'date': '2009-12-31', 'Symbol': 'FB', 'volume': 5, 'price per vol': 42.04999923706055, 'action': 'buy'}, {'date': '2009-12-31', 'Symbol': 'AMZN', 'volume': 5, 'price per vol': 136.25, 'action': 'buy'}, {'date': '2009-12-31', 'Symbol': 'AMZN', 'volume': 5, 'price per vol': 136.25, 'action': 'buy'}, {'date': '2009-12-31', 'Symbol': 'AMZN', 'volume': 5, 'price per vol': 136.25, 'action': 'buy'}]

/var/folders/_t/vnkvxm1172s08ml2bb4djxkm0000gn/T/ipykernel_6705/610505987.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  stock_price = stock_price[stock_market_data['Date'] == date]['Open'].values[0]

{'AMZN': 15, 'FB': 20, 'TSLA': 0, 'GOOGL': 0, 'AAPL': 0}

In [122]:
def sell_stock(user , stock , vol):
    if stock in pd.unique(stock_market_data['Symbol']):
        stock_price = stock_market_data[stock_market_data['Symbol'] == stock]
        stock_price = stock_price[stock_market_data['Date'] == '2022-05-13']['Open'].values[0]
        if user.stock_list[stock] >= vol:
            user.stock_list[stock] -=  vol
            user.balance += stock_price * vol
            user.history.append({'date' : '2022-05-13' , 'Symbol' : stock , 'volume' : vol , 'price per vol' : stock_price , 'action' : 'sell' })
            print(stock , 'sold with' , stock_price , 'and ' , vol , 'vol')
        else:
            print('not enough volume ! ! !')
    else:
        print('This Symbol does not exists ! ! !')
sell_stock(users[0] , 'AMZN' , 5 )
print(users[0].history)
users[0].stock_list

AMZN sold with 2181.3798828125 and  5 vol
[{'date': '2009-12-31', 'Symbol': 'FB', 'volume': 5, 'price per vol': 42.04999923706055, 'action': 'buy'}, {'date': '2009-12-31', 'Symbol': 'FB', 'volume': 5, 'price per vol': 42.04999923706055, 'action': 'buy'}, {'date': '2009-12-31', 'Symbol': 'FB', 'volume': 5, 'price per vol': 42.04999923706055, 'action': 'buy'}, {'date': '2009-12-31', 'Symbol': 'FB', 'volume': 5, 'price per vol': 42.04999923706055, 'action': 'buy'}, {'date': '2009-12-31', 'Symbol': 'AMZN', 'volume': 5, 'price per vol': 136.25, 'action': 'buy'}, {'date': '2009-12-31', 'Symbol': 'AMZN', 'volume': 5, 'price per vol': 136.25, 'action': 'buy'}, {'date': '2009-12-31', 'Symbol': 'AMZN', 'volume': 5, 'price per vol': 136.25, 'action': 'buy'}, {'date': '2022-05-13', 'Symbol': 'FB', 'volume': 5, 'price per vol': 192.5800018310547, 'action': 'sell'}, {'date': '2022-05-13', 'Symbol': 'FB', 'volume': 5, 'price per vol': 192.5800018310547, 'action': 'sell'}, {'date': '2022-05-13', 'Symbol': 'AMZN', 'volume': 5, 'price per vol': 2181.3798828125, 'action': 'sell'}]

/var/folders/_t/vnkvxm1172s08ml2bb4djxkm0000gn/T/ipykernel_6705/655395705.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  stock_price = stock_price[stock_market_data['Date'] == '2022-05-13']['Open'].values[0]

{'AMZN': 10, 'FB': 10, 'TSLA': 0, 'GOOGL': 0, 'AAPL': 0}

In [123]:
users[0].show_history()

         date Symbol  volume  price per vol action
0  2009-12-31     FB       5      42.049999    buy
1  2009-12-31     FB       5      42.049999    buy
2  2009-12-31     FB       5      42.049999    buy
3  2009-12-31     FB       5      42.049999    buy
4  2009-12-31   AMZN       5     136.250000    buy
5  2009-12-31   AMZN       5     136.250000    buy
6  2009-12-31   AMZN       5     136.250000    buy
7  2022-05-13     FB       5     192.580002   sell
8  2022-05-13     FB       5     192.580002   sell
9  2022-05-13   AMZN       5    2181.379883   sell