
<div style="font-size: 20px;font-family:vazir">
     <b><h1 style="line-height:200%;font-family:vazir;color:#0099cc" dir="rtl" >پروژه اول </h1></b>
        <br>
     <div style="font-size: 18px; font-family:vazir" dir="rtl">برنامه زیر توسط سام احمدی زاده و مهرانا خالقی به منظور پروژه پایان ترم نوشته شده است</div>
        <br>
    <h1 style="font-size: 20" dir="rtl">بخش اول :     </h1>
</div>

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
users = []
class User():
    def __init__(self , n , fn , i , birth, balance):
        self.name = n
        self.familyName = fn
        self.id = i
        self.birthday = birth
        self.balance = balance
        self.stocks ={}

<div style="font-family:vazir">
    <h1 style="font-size: 10;color:#009955" dir="rtl"> ایجاد کاربر جدید    </h1>    
    <br>
     <div style="font-size: 18px; font-family:vazir" dir="rtl">برای ایجاد کاربر جدید مشخصات خود را در کد زیر نوشته و آن را ران کنید</div>
    <div style="font-size: 18px; font-family:vazir" dir="ltr">Valid input format: (name , Family name , id , birth , init_balance)</div>
        <br>
    
</div>

In [27]:
users.append(User('sam' , 'asfjkhsdhjkf' , '04412121212' , '2004-5-10' , 100000))
users[0].stocks

{}

<h1 style="font-size: 25;font-family:vazir" dir="rtl">بخش دوم :     </h1>

In [23]:
stock_market_data = pd.read_csv('stock_market_data.csv') #reading the init data of stocks
stock_market_data.head(10)

         Date Symbol        Open      Volume
0  2009-12-31   AMZN  136.250000   7599900.0
1  2010-01-04   AMZN  136.250000   7599900.0
2  2010-01-05   AMZN  133.429993   8851900.0
3  2010-01-06   AMZN  134.600006   7178800.0
4  2010-01-07   AMZN  132.009995  11030200.0
5  2010-01-08   AMZN  130.559998   9830500.0
6  2010-01-11   AMZN  132.619995   8779400.0
7  2010-01-12   AMZN  128.990005   9096300.0
8  2010-01-13   AMZN  127.900002  10723200.0
9  2010-01-14   AMZN  129.139999   9774900.0